{% extends "polls/base.html" %}
{% block mainbody %}

<form action="{% url 'polls:addpollpost' %}" method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="question_title">Question</label>
    <input type="text" class="form-control" name="question_title" id="question_title_id">
  </div>
  <div class="form-group">
    <label>Answers</label>
    <input type="text" class="form-control" name="1" id="answer1">
    <input type="text" class="form-control" name="2" id="answer2">
    <input type="text" class="form-control" name="3" id="answer3">
  </div>

<button type="submit" class="btn btn-primary">Add poll</button>
</form>

{% endblock %}
